# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
bokeh>=3.0.3=pypi_0
matplotlib>=3.6.2=pypi_0
numpy>=1.23.5=pypi_0
pandas>=1.5.2=pypi_0
